.profileContainer {
    width: 100%;
  }
  
  .profileContainer .card {
    margin-bottom: 20px;
  }
  
  .profileContainer .card-header {
    background-color: #f7f7f7;
    font-size: 1.5rem;
  }
  
  .profileContainer .card-body {
    background-color: #fff;
  }
  
  .profileContainer .card-footer {
    background-color: #f7f7f7;
  }
  
  .profileContainer .form-label {
    font-weight: bold;
  }
  
  .profileContainer .form-input {
    background-color: #f7f7f7;
    border: none;
  }
  