.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trash-card {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .card-body-row {
    align-items: center;
  }
  
